<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
    </head>
    <body>
        <!--A3-Cross-Site Scripting (XSS):                  
                Normally Thymeleaf escapes text inputs (th:text), but here th:utext
                enables XSS attacks because the text is unescaped.-->
        <h1>Thank you <span th:utext="${signup.name}" ></span>! You have been signed up to the event!</h1>

        <a th:href="@{/form}">Return to the main page</a>
    </body>
</html>
